<div class="main-container cursor-pointer">
  <a [href]="'/book/' + book?.id">
    <mat-card >
      <mat-card-header>
        <mat-card-title>{{ book?.title }}</mat-card-title>
        <mat-card-subtitle>{{ book?.author }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-list>
          <mat-list-item> <div class="flex flex-row">Nota: <app-stars class="mt-1.5 ml-0.5" [note]="book?.avaliation"></app-stars></div> </mat-list-item>

          <mat-list-item>
            <mat-chip-set>
              @for (genre of book?.genres; track $index) {
                <mat-chip>{{ genre }}</mat-chip>
              }
            </mat-chip-set>
          </mat-list-item>
        </mat-list>


      </mat-card-content>

    </mat-card>
  </a>
</div>
